PATH=/app:/usr/local/bin:/usr/bin
SHELL=/bin/sh
#BASH_ENV=/root/project_env.sh
*/2 * * * * setsid /app/getJson.py "spawn" > /proc/1/fd/1 2>/proc/1/fd/2

@reboot python /app/discord_web.py "0" "starting"

