yt-dlp>=2026.2.21
discord-webhook>=1.3.0
git+https://github.com/mikelei8291/chat-downloader.git
py3createtorrent>=1.2.0
croniter>=3.0.3
bgutil-ytdlp-pot-provider>=1.2.2
yt-dlp-ejs>=0.3.1
Flask>=3.1.2
APScheduler>=3.11.1
tomlkit>=0.13.3
Flask-Caching>=2.3.1
pip